main {


    width: calc(100% - 250px);
    height: auto;

    background-image: url("https://i.pinimg.com/736x/d6/09/c9/d609c9076e4f5d18da92ceb6dd6ab26a.jpg");
    background-size: calc(50%);
    padding: 40px;
    margin-top: 70px;
    overflow: hidden;





}