* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1540px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  height: 110vh;
  overflow: hidden;

}

.global {

  width: 100%;
  height: auto;


}